@model WPFPresentation.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ApplicationUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GivenName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GivenName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwoFactorEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwoFactorEnabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LockoutEndDateUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LockoutEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LockoutEnabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessFailedCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>Assigned Roles:</dt>

        <dd>
            <ul>
                @foreach (string r in ViewBag.Roles)
                {
                    <li>
                        <strong>
                            @r  @Html.ActionLink("Remove Role", "RemoveRole", new { Id = Model.Id, role = r })
                        </strong>
                        @if (r == "Administrator")
                        {
                            <span style="color: red; font-weight: bold;"> @ViewBag.Error </span>
                        }
                    </li>
                }
            </ul>
        </dd>

        <dt>Unassigned Roles:</dt>

        <dd>
            <ul>
                @foreach (string r in ViewBag.NoRoles)
                {
                    <li>
                        <strong>
                            @r  @Html.ActionLink("Add Role", "AddRole",
                   new { Id = Model.Id, Role = r })
                        </strong>
                    </li>
                }
            </ul>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>