@*
    Creator: Robert Holmes
    Created: 04/29/2020
    Approver:

    Page for viewing product details.
    Updater:
    Updated:
    Update:
*@
@model DataTransferObjects.Product

<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="row my-4">
                <h2>@Model.Name</h2>
            </div>
            <div class="row">
                <h5>@Model.Price.ToString("C")</h5>
            </div>
            <div class="row">
                <p>@Model.Description</p>
            </div>
            <div class="row">
                @using (Html.BeginForm("AddToCart", "Cart"))
                {
                    <div>
                        @Html.HiddenFor(x => x.ProductID)
                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                        <input type="submit" class="btn btn-primary" value="Add to cart" />
                    </div>
                }
            </div>
        </div>
        <div class="col-4">
            <div class="row my-4">
                <img class="img-fluid" src="@Url.Action("GetImage", "Product", new { Model.ProductID })" />
            </div>
        </div>
    </div>
</div>
