@*

*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pet Universe</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/71b8d441af.js" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        @Html.Partial("_NavInternalPartial")
    </header>
    <div class="container body-content">
        <span><br/><br/><br/></span>
        @RenderBody()
        <hr />
        <!-- Footer -->
        <footer class="page-footer font-small blue pt-4 card-footer">
            @Html.Partial("_InternalFooterPartial")
        </footer>
        <!-- Footer -->
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
