@model DataTransferObjects.AdoptionAppointment

@{
    ViewBag.Title = "RescheduleAppointment";
}

<h2>RescheduleAppointment</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>AdoptionAppointment</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        

        <div class="form-group">
            @Html.LabelFor(model => model.AppointmentTypeID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.AppointmentTypeID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AppointmentTypeID, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.AppointmentID)

        <div class="form-group">
            @Html.LabelFor(model => model.AppointmentDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.AppointmentDateTime, new { htmlAttributes = new { type = "datetime-local" } })
                @Html.ValidationMessageFor(model => model.AppointmentDateTime, "", new { @class = "text-danger" })
            </div>
        </div>

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Reschedule" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Back", "AppointmentDetails", new { id = Model.AppointmentID }, new { @class = "btn btn-primary" })
    </div>
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
