@model WPFPresentation.Models.ApplicantListViewModel

@{
    ViewBag.Title = "Applicants";
    Layout = "~/views/Shared/_InternalLayout.cshtml";
}
<header><h1>Applicants</h1></header>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>@Html.ActionLink("Last Name, First Name", "ApplicantList", new { sortOrder = ViewBag.NameSortParam })</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var applicant in Model.Applicants)
        {
            <tr>
                <td>@applicant.LastName , @applicant.FirstName</td>
                <td>@applicant.Email</td>
                <td>@applicant.PhoneNumber</td>
                <td>
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Interview", "Interview", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
